*{
    margin: 0;
    padding: 0;
}
body{
    background-color:purple;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
    background-color:black;
}
ul{
    display: flex;
    justify-content: center;

}
li{
    list-style: none;
    margin: 0 23px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color:greenyellow;
    font-size: 1.02rem;
}
.img1{
    height: 75px;
    width: 70px;
    border-radius: 170%;
    
}
h2{
    text-align: center;
    color:black;
    /* top: 10%; */
}
hr{
    border: 0;
    background: rgb(116, 116, 225);
    height: 1.2px;
    margin: 40px 84px;
}
p{
    text-align: center;
}
b{
    font-size: 1.5rem;
}


